{% extends "base.html" %}

{% block content %}

<h3>スレッド一覧</h3>

<ul>
{% for thread in threads %}
    <li>
        <a href="/threads/{{ thread.id }}/view">
            {{ thread.title }}
        </a><br>
        作成日時：{{ thread.created_at }}
    </li>
{% endfor %}
</ul>

<hr>

<h3>最新投稿（先頭10件）</h3>

{% for post in latest_posts %}
<div>

    {{ post.post_number }}:
    <strong>{{ post.author }}</strong><br>

    {{ post.content }}<br>
    日時：{{ post.created_at }}

    {% if post.attachment %}
    <div>
        <img src="/static/uploads/{{ post.attachment }}"
             style="max-width: 300px;">
    </div>
    {% endif %}

</div>
<hr>
{% endfor %}

{% endblock %}